{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1>Books</h1>
    <table>
        <tr>
            <th>Authors</th>
            <th>Title</th>
            <th>Published</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.authors|join(', ') }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.published|date }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('edit-book', { 'id': book.id }) }}">edit...</a>
                        </li>
                        <li>
                            <a href="{{ path('confirm-delete-book', { 'id': book.id }) }}">delete...</a>
                        </li>
                    </ul>

                </td>
            </tr>
        {% endfor %}
    </table>

    {% include 'parts/menu.html.twig' %}

{% endblock %}

